<!DOCTYPE html>
<html>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>出入库管理系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}" {% if request.endpoint == 'index' %}class="active"{% endif %}>主页</a> |
        <a href="{{ url_for('add_item') }}" {% if request.endpoint == 'add_item' %}class="active"{% endif %}>添加物品</a> |
        <a href="{{ url_for('add_stock') }}" {% if request.endpoint == 'add_stock' %}class="active"{% endif %}>出入库管理</a> |
        <a href="{{ url_for('stock_report') }}" {% if request.endpoint == 'stock_report' %}class="active"{% endif %}>库存统计</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
