{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h2>欢迎使用出入库管理系统</h2>
        <p>这是贾一民写的出入库管理系统，可以帮助豆哥管理库存。</p>

        <div class="dashboard">

            <div class="dashboard-item">
                <h3><a href="{{ url_for('add_item') }}">注册物品</a></h3>
                <p>注册新的物品到系统。</p>
            </div>
            <div class="dashboard-item">
                <h3><a href="{{ url_for('add_stock') }}">出入库管理</a></h3>
                <p>进行物品的入库和出库操作。</p>
            </div>
              <div class="dashboard-item">
                <h3><a href="{{ url_for('stock_report') }}">库存统计</a></h3>
                <p>查看当前的库存信息、出入库记录和注册物品列表。</p>
                
            </div>
            
        </div>
        <h2><a>注意事项</a></h2>
        <p>一、已注册的物品可以直接入库，未注册的物品需先注册再进行后续操作</p>
        <p>二、入库SN码可以批量导入，支持扫码枪、excel直接粘贴、手动回车输入</p>
        <p>三、出入库提交有误可以去库存统计中删除记录</p>
        <p>四、其他问题联系窦富禄</p>
    </div>
{% endblock %}
