{% extends 'base.html' %}
{% block content %}
    <h2>物品列表</h2>
    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>规格</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.item_code }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_spec }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
